/* Основной цвет текста  #757575*/
/* Цвет текста заголовков #212121 */
/* Цвет текста адреса (почта и тел) rgba(255, 255, 255, 0.6) */
/* Цвет текста при активности #2196F3 */

/* Reset */
:root {
  --title-color: #212121;
  --main-text-color: #757575;
  --activ-text-color: #2196f3;
  --icon-fill: #afb1b8;
  --trans-duration: 250ms;
  --trans-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--main-text-color);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* Хедер */

.head-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
  transition: color var(--trans-duration) var(--trans-time-function);
}

.head-list {
  display: flex;
  align-items: center;
}

.head-list .list {
  display: flex;
  align-items: center;
}

.head .list:not(:last-child) {
  margin-right: 50px;
}

.menu {
  margin-left: 93px;
}

.navigation {
  display: flex;
  align-items: center;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}

.logo-color {
  color: #2196f3;
}

.tel-mail {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: flex;
  transition: color var(--trans-duration) var(--trans-time-function);
}

.head-icon {
  margin-right: 10px;
  fill: var(--main-text-color);
  display: inline-flex;
  justify-content: center;
  align-self: center;
  transition: fill var(--trans-duration) var(--trans-time-function);
}

.head-title:hover,
.head-title:focus,
.head .tel-mail:hover,
.head .tel-mail:focus,
.foot-tel-mail:hover,
.foot-tel-mail:focus {
  color: var(--activ-text-color);
}

.tel-mail:hover > .head-icon,
.tel-mail:focus > .head-icon {
  fill: var(--activ-text-color);
}

.head-list .link.current {
  color: var(--activ-text-color);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--activ-text-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 0;
  bottom: 0;
}

.head {
  border-bottom: 1px solid #ececec;
}

/* Герой */

.hero {
  height: 600px;
  max-width: 1600px;
  background: #c4c4c4;
  padding: 200px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/icons/Img-bg-hero.jpg");
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

/* Кнопки */

.hero-button {
  background-color: var(--activ-text-color);
  color: #ffffff;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  border-color: transparent;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  transition: background-color var(--trans-duration) var(--trans-time-function);
}

.portfolio-button {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border-color: transparent;
  transition: color var(--trans-duration) var(--trans-time-function),
    background-color var(--trans-duration) var(--trans-time-function),
    box-shadow var(--trans-duration) var(--trans-time-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: var(--activ-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section {
  padding: 94px 0;
}

/* Ценности  */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.values-list {
  display: flex;
}

.values {
  padding-bottom: 0;
}

.values-list .list {
  width: 270px;
}

.values-icons {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.values-list .list:not(:last-child) {
  margin-right: 30px;
}

.values-title {
  color: var(--title-color);
  margin-bottom: 10px;
}

.sub-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.values-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--main-text-color);
}

/* Чем мы занимаемся */

.doing-list {
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.doing-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  text-align: center;
  padding: 27px 0;
}

.doing-list > .list {
  position: relative;
}

/*Наша команда */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list > .list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-member-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.member-description {
  background-color: #ffffff;
  padding: 30px 0;
}

.member-soc {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--trans-duration) var(--trans-time-function);
}

.member-icon {
  fill: var(--icon-fill);
  transition: fill var(--trans-duration) var(--trans-time-function);
}

.member-soc:hover,
.member-soc:focus {
  background-color: var(--activ-text-color);
}

.member-soc:hover > .member-icon,
.member-soc:focus > .member-icon {
  fill: #ffffff;
}

.member-connect {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.image {
  display: block;
}

.client-list {
  display: flex;
  gap: 30px;
}

.client-icon {
  fill: var(--icon-fill);
  transition: fill var(--trans-duration) var(--trans-time-function);
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--trans-duration) var(--trans-time-function);
}

.client:hover > .client-icon,
.client:focus > .client-icon {
  fill: var(--activ-text-color);
}

.client:hover,
.client:focus {
  cursor: pointer;
  border-color: var(--activ-text-color);
}

/* Образцы работ портфолио */

.work-filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.work-filter .list:not(:last-child) {
  margin-right: 8px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list .link:hover,
.work-list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.work-list .list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-list .list:nth-child(3n) {
  margin-right: 0;
}

.work-list .list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.work-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--main-text-color);
}

.work-list .link {
  display: inline-block;
  transition: box-shadow var(--trans-duration) var(--trans-time-function);
}

.work-img-wrapper {
  position: relative;
  overflow: hidden;
}

.work-ower-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--trans-duration) var(--trans-time-function);
}

.work-list .link:hover .work-ower-text,
.work-list .link:focus .work-ower-text {
  transform: translateY(0);
}

.work-card {
  border: 1px solid #ececec;
  border-top: none;
  padding: 20px 24px;
}

/* Футер */

.foot {
  background-color: #2f303a;
  padding: 60px 0;
}

.foot .link {
  color: #ffffff;
}

.foot.logo {
  display: inline-block;
}

.foot-address {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #ffffff;
  margin-top: 20px;
}
.foot-tel-mail {
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
  transition: color var(--trans-duration) var(--trans-time-function);
}

.foot > .container {
  display: flex;
  align-items: baseline;
}

.join {
  margin-left: 70px;
}

.footer-title {
  display: block;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  gap: 10px;
}

.join-soc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--trans-duration) var(--trans-time-function);
}

.join-soc:hover,
.join-soc:focus {
  background-color: var(--activ-text-color);
}

.join-icon {
  fill: #ffffff;
}

.footer-form {
  margin-left: 93px;
}

.footer-form-wrap {
  display: flex;
}

.footer-field {
  display: inline;
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
}

.footer-field::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 200px;
  background-color: var(--activ-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  padding: 10px 29px;
  margin-left: 12px;
  transition: background-color var(--trans-duration) var(--trans-time-function);
}

.footer-submit-icon {
  fill: #ffffff;
}

.button-submit:hover,
.button-submit:focus {
  background-color: #188ce8;
}

.footer-btn-content {
  margin-right: 10px;
}

/* Модальное окно */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--trans-duration) var(--trans-time-function),
    visibility var(--trans-duration) var(--trans-time-function);
}

.overlay.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--trans-duration) var(--trans-time-function);
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.modal-icon {
  transition: fill var(--trans-duration) var(--trans-time-function);
}

.modal-button:focus .modal-icon,
.modal-button:hover .modal-icon {
  fill: var(--activ-text-color);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.field {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--trans-duration) var(--trans-time-function);
}

.field:focus,
.field:hover {
  border-color: var(--activ-text-color);
  outline: var(--activ-text-color);
  cursor: pointer;
}

.modal-form > .button-submit {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form-wrap {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);
  transition: fill var(--trans-duration) var(--trans-time-function);
}

.field:focus + .form-icon,
.field:hover + .form-icon {
  fill: var(--activ-text-color);
}

.comment-field {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.comment-field::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.policy-link {
  color: var(--activ-text-color);
}

.policy-check {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.policy-field:focus + .policy-label > .policy-check {
  border-color: var(--activ-text-color);
}

.policy-field:checked + .policy-label > .policy-check {
  background-image: url(../images/icons/icon\ check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--activ-text-color);
  border-radius: 2px;
}
