.head {
  border-bottom: 1px solid #ececec;
  & .head__item:not(:last-child) {
    margin-right: 50px;
  }
}

.head__title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
  transition: color var(--trans-duration) var(--trans-time-function);
  &:hover,
  &:focus {
    color: var(--activ-text-color);
  }
}

.head__list {
  display: flex;
  align-items: center;
  & .head__item {
    display: flex;
    align-items: center;
  }
  & .link.current {
    color: var(--activ-text-color);
  }
}

.navigation {
  display: flex;
  align-items: center;
  .navigation__menu {
    margin-left: 93px;
  }
}

.head--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}

.logo--color {
  color: #2196f3;
}

.head__contact {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: flex;
  transition: color var(--trans-duration) var(--trans-time-function);
  .head &:hover,
  .head &:focus {
    color: var(--activ-text-color);
  }
}

.head__icon {
  margin-right: 10px;
  fill: var(--main-text-color);
  display: inline-flex;
  @extend %centered;
  transition: fill var(--trans-duration) var(--trans-time-function);
  .head__contact:hover > &,
  .head__contact:focus > & {
    fill: var(--activ-text-color);
  }
}

.current {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--activ-text-color);
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 0;
    bottom: 0;
  }
}
