body {
  color: var(--main-text-color);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}
.section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}
.image {
  display: block;
}
