.client-list {
  display: flex;
  gap: 30px;
}

.client-icon {
  fill: var(--icon-fill);
  transition: fill var(--trans-duration) var(--trans-time-function);
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--trans-duration) var(--trans-time-function);
}

.client:hover > .client-icon,
.client:focus > .client-icon {
  fill: var(--activ-text-color);
}

.client:hover,
.client:focus {
  cursor: pointer;
  border-color: var(--activ-text-color);
}
